h3 {
    font-size: 1em;
    margin: 10px 0 0 0;
}

.animal-btn {
    min-width: 100px;
}

.content {
    position: relative;
}

.download {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.gif {
    max-width: 200px;
    max-height: 200px;
}

/* Waterfall styles */
.wf-container { 
    margin: 0 auto; 
}

.wf-container:before,.wf-container:after {
    content: '';
    display: table;
}

.wf-container:after {
    clear: both;
}

.wf-column {
    float: left;
}

.wf-box { margin: 10px; }

.wf-box img {
  display: block;
}

.wf-box .content {
  border: 0;
  border-top-width: 0;
  padding: 5px 8px;
}

/* More button */
#btn-holder {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: none;
    border: 0;
    padding: 0;
    z-index: 2;
    display: none;
    opacity: 1.0;
}

#btn-holder:hover {
    opacity: 0.8;
}

#btn-holder img {
    height: 50px;
    width: 50px;
    position: absolute;
    margin-left: -25px; /* Half the width */
    left: 50%;
    bottom: 10%;
}

#btn-holder img:hover {
    opacity: 0.6;
}

#btn-spacer {
    position: relative;
    height: 75px;
}